<div>
<img src="/assets/img/burger-logo.gif" alt="burger">
<h1>Eat-Da-Burger!</h1>
</div>

<div>
    <p>Enter a burger you want to eat and click on submit.</p>
    <input class="burger-box" type="text-box">
    <button class="submit-btn" type="submit">Submit</button>
</div>